.DS_Store
.buildpath
.cache
.project
.settings
application/opc.db
library/ZFDebug
library/Zend
library/ZendX
zf.php
application/configs/application-prod.ini
data/fixtures/production.sql
scripts/deploy*

