# OS Specific
.DS_Store

# IDE Specific
.buildpath
.cache
.project
.settings

# Third Party Libs
/library/Danceric
/library/Doctrine
/library/Zend
/library/ZendX
/library/ZFDebug
/library/ZFDoctrine

application/configs/application-prod.ini
data/fixtures/production.sql
scripts/deploy*

